[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
build/
bin/
obj/
*.exe
*.pdb
*.ilk
*.exp
*.pch
*.idb
*.tlog
*.obj
*.res


.vs/
*.user
*.suo
*.sln.docstates
*.db
*.opendb
*.VC.db
*.ipch
*.aps
*.ncb


*.tmp
*.bak
*.log


.DS_Store
Thumbs.db
desktop.ini

!*.lib
!*.a
!*.dll